{% extends "base.html" %} {% block content %}
<h1>blog</h1>
<h2>Количевство постов: {{kol}}</h2>

<a href="{% url 'blog:create_post' %}" class="btn btn-primary">Create</a>

<div class="container">
  <div class="row">
    {% for post in all_posts %}
    <div class="col-md-3 mb-4">
      {% include 'blog/_include_blocks/block_card.html' %}
    </div>
    {% endfor %}
  </div>
</div>

<ul class="pagination justify-content-center">
  {% if all_posts.has_previous %}
  <li class="page-item">
    <a class="page-link" href="?page=1" aria-label="Первая">
      <span aria-hidden="true">&laquo; Первая</span>
    </a>
  </li>
  <li class="page-item">
    <a
      class="page-link"
      href="?page={{ all_posts.previous_page_number }}"
      aria-label="Предыдущая"
    >
      <span aria-hidden="true">&lsaquo; Предыдущая</span>
    </a>
  </li>
  {% endif %}

  <li class="page-item active" aria-current="page">
    <span class="page-link"
      >Страница {{ all_posts.number }} из {{ all_posts.paginator.num_pages}}
    </span>
  </li>

  {% if all_posts.has_next %}
  <li class="page-item">
    <a
      class="page-link"
      href="?page={{ all_posts.next_page_number }}"
      aria-label="Следующая"
    >
      <span aria-hidden="true">Следующая &rsaquo;</span>
    </a>
  </li>
  <li class="page-item">
    <a
      class="page-link"
      href="?page={{ all_posts.paginator.num_pages }}"
      aria-label="Последняя"
    >
      <span aria-hidden="true">Последняя &raquo;</span>
    </a>
  </li>
  {% endif %}
</ul>

{% endblock %}
