{% extends "base.html" %}

{% block content %}


<div class="card text-center mt-4">
    <div class="card-header">
      Наши контакты ⬇︎
    </div>
    <div class="card-body">
      <h5 class="card-title">Напиши нам на почту если:</h5>
      <p class="card-text">У тебя возникли проблемы, и появились вопросы.</p>
      <a href="#" class="btn btn-primary">Кликни чтобы написать!</a>
    </div>
    <div class="card-footer text-body-secondary">
      Всегда активно!
    </div>
  </div>
{% endblock %}